{% load staticfiles %}

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

<script type="text/javascript" src="{% static 'dist/javascripts/dashboard/dashboard.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/javascripts/dashboard/services/dashboard.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/javascripts/dashboard/controllers/dashboard.controller.js' %}"></script>

