/virtuoso
/sparqlwrapper
/node_modules
static/lang
# Global .gitignore
.DS_Store
*.pyc
.gaedata

# Python compiled byte code
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
/python-virtuoso
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
/lib
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

# Uglified JavaScript
static/dist

# Staticfiles
staticfiles/
