<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li class="active">
                <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-sign-out"></i> App Tokens</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-gears"></i>System<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-users"></i>Credentials</a>
                    </li>
                    <li>
                        <a href="/audit"><i class="fa fa-fw fa-file-text-o"></i>Audit Trails</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li class="active">
                <a href="/profile"><i class="fa fa-dashboard fa-fw"></i> Profile</a>
            </li>
            <li ng-controller="NavbarController as vm">
               <a href="javascript:void(0)" ng-click="vm.logout()"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
            </li>

            <li ng-controller="DashboardController as vm"><a href="javascript:void(0)" ng-click="vm.register()"><i class="fa fa-sign-out fa-fw"></i> Register</a></li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>