<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li class="active">
                <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-user"></i> Register
                    member</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-fw fa-user"></i> Manage members</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-fw fa-user"></i>Members
                    Withdrawal</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-fw fa-line-chart"></i>View Ledger</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-fw fa-calendar-o"></i> Monthly Deduction<span
                            class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/dashboard/deduct"><i class="fa fa-fw fa-line-chart"></i>Monthly Deduction</a>
                    </li>

                    <li>
                        <a href="/dashboard/deductions/status"><i class="fa fa-fw fa-bar-chart-o"></i>Deduction
                            Status</a>
                    </li>

                    <li>
                        <a href="/dashboard/withdrawals"><i class="fa fa-fw  fa-credit-card"></i>Saving Withdrawals</a>
                    </li>

                    <li>
                        <a href="/dashboard/deduction/requests"><i class="fa fa-fw fa-bitcoin"></i>Deduction
                            Requests</a>
                    </li>
                    <li>
                        <a href="/dashboard/deduction/change"><i class="fa fa-fw fa-adjust"></i>Change in Deduction</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-fw fa-money"></i>Manage Loans<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/dashboard/loans/requests"><i class="fa fa-fw fa-users"></i>Loan Requests</a>
                    </li>
                    <li>
                        <a href="/dashboard/loans/active"><i class="fa fa-fw fa-users"></i>Active Loans</a>
                    </li>
                    <li>
                        <a href="/dashboard/loans/history"><i class="fa fa-fw fa-file-text-o"></i>Loan History</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-shopping-cart"></i>Commodity<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/dashboard/commodities/purchase"><i class="fa fa-fw fa-shopping-cart"></i>New
                            Purchase</a>
                    </li>
                    <li>
                        <a href="/dashboard/commodities/approved"><i class="fa fa-fw fa-check-circle-o"></i>Approved
                            Purchase (54)</a>
                    </li>
                    <li>
                        <a href="/dashboard/commodities/history"><i class="fa fa-fw fa-file-text-o"></i>Payments
                            Logs</a>
                    </li>
                    <li>
                        <a href="/dashboard/commodities/manage"><i class="fa fa-fw fa-briefcase"></i>Manage
                            Commodity</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-fw fa-gears"></i>System<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-users"></i>Manage Admin</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-users"></i>New Admin</a>
                    </li>
                    <li>
                        <a href="/dashboard/audit"><i class="fa fa-fw fa-file-text-o"></i>Audit Trails</a>
                    </li>
                    <li>
                        <a href="/dashboard/loginmanager"><i class="fa fa-fw fa-lock"></i>Login Manager</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/dashboard/logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>